<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--Amadeus_213E -->
    <add key="Mode" value="LIVE" />
    <add key="AccountName" value="WSFMJFMO" />
    <add key="Password" value="NQGHa4bftxP8" />
    <add key="TestTargetURL" value="https://nodeD2.test.webservices.amadeus.com/" />
    <add key="LiveTargetURL" value="https://nodeD2.production.webservices.amadeus.com/" />  
    <add key="PseudoCityCode" value="DELVS38LM" />
    <add key="WSAP" value="1ASIWFMOFMJ" />
    <add key="amadeusRecommendation" value="100" />

    <add key="TvoApiMode" value="Live"/>
    <!--Live Service URL-->
    <add key="apiUrlAuth" value="https://api.travelboutiqueonline.com/SharedAPI/SharedData.svc/rest/Authenticate"/>
    <add key="apiUrlLogout" value="https://api.travelboutiqueonline.com/SharedAPI/SharedData.svc/rest/Logout"/>
    <add key="AgencyBalanceUrl" value="https://api.travelboutiqueonline.com/SharedAPI/SharedData.svc/rest/GetAgencyBalance" />
    <add key="airSearchUrl" value="https://tboapi.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/Search/"/>
    <add key="fareRuleUrl" value="https://tboapi.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/FareRule/"/>
    <add key="FareQuoteUrl" value="https://tboapi.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/FareQuote/"/>
    <add key="priceRBDUrl" value="https://tboapi.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/PriceRBD/"/>
    <add key="SsrUrl" value="https://tboapi.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/SSR/"/>
    <add key="cancelUrl" value="https://tboapi.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/ReleasePNRRequest/"/>
    <add key="sendChangeUrl" value="https://tboapi.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/SendChangeRequest/"/>
    <add key="statusChangeUrl" value="https://tboapi.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/GetChangeRequestStatus/"/>
    <add key="CalendarFareUrl" value="https://tboapi.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/GetCalendarFare"/>
    <add key="CalendarFareUpdate" value="https://tboapi.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/UpdateCalendarFareOfDay"/>
    <add key="bookUrl" value="https://booking.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/Book/"/>
    <add key="ticketUrl" value="https://booking.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/Ticket/"/>
    <add key="BookingDetailsUrl" value="https://booking.travelboutiqueonline.com/AirAPI_V10/AirService.svc/rest/GetBookingDetails" />
    <!--  -->

    <!--Test Service URL-->
    <add key="apiUrlAuthTest" value="http://api.tektravels.com/SharedServices/SharedData.svc/rest/Authenticate"/>
    <add key="apiUrlLogoutTest" value="http://api.tektravels.com/SharedServices/SharedData.svc/rest/Logout"/>
    <add key="AgencyBalanceUrlTest" value="http://api.tektravels.com/SharedServices/SharedData.svc/rest/GetAgencyBalance" />
    <add key="airSearchUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/Search/"/>
    <add key="fareRuleUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/FareRule/"/>
    <add key="FareQuoteUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/FareQuote/"/>
    <add key="priceRBDUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/PriceRBD/"/>
    <add key="SsrUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/SSR/"/>
    <add key="cancelUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/ReleasePNRRequest/"/>
    <add key="sendChangeUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/SendChangeRequest/"/>
    <add key="statusChangeUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/GetChangeRequestStatus/"/>
    <add key="CalendarFareUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/GetCalendarFare"/>
    <add key="CalendarFareUpdateTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/UpdateCalendarFareOfDay"/>
    <add key="bookUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/Book/"/>
    <add key="ticketUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/Ticket/"/>
    <add key="BookingDetailsUrlTest" value="http://api.tektravels.com/BookingEngineService_Air/AirService.svc/rest/GetBookingDetails" />

    <!--Tripjack test-->
    <!--<add key="TripJackSearchUrl" value="https://apitest.tripjack.com/fms/v1/air-search-all"/>
    <add key="TripJackReviewUrl" value="https://apitest.tripjack.com/fms/v1/review"/>
    <add key="TripJackBookUrl" value="https://apitest.tripjack.com/oms/v1/air/book"/>
    <add key="TripJackBookingDetailsUrl" value="https://apitest.tripjack.com/oms/v1/booking-details"/>
    <add key="TripJackApikey" value="812032f18de4eb-806a-4dd4-9ef6-cdc21fd81668"/>
     -->

    <!--Tripjack Live-->
    <add key="TripJackSearchUrl" value="https://api.tripjack.com/fms/v1/air-search-all"/>
    <add key="TripJackReviewUrl" value="https://api.tripjack.com/fms/v1/review"/>
    <add key="TripJackBookUrl" value="https://api.tripjack.com/oms/v1/air/book"/>
    <add key="TripJackBookingDetailsUrl" value="https://api.tripjack.com/oms/v1/booking-details"/>
    <add key="TripJackApikey" value="8109663706cb99e8-cedb-475f-8dea-c6941b12623f"/>
    <!-- -->

    <!--Travelogy test-->
    <!--  <add key="TravelogyUserId" value="travelogyuat"/>
    <add key="TravelogyPassword" value="46B98418DB0908EA37DFC32765CD73491439F030"/>
    <add key="TravelogyIMEI_Number" value="2232323232323"/>
    <add key="TravelogySearchUrl" value="http://uat.travelogy.online/airlinehost/AirAPIService.svc/JSONService/Air_Search"/>
    <add key="TravelogyRePriceUrl" value="http://uat.travelogy.online/airlinehost/AirAPIService.svc/JSONService/Air_Reprice"/>
    <add key="TravelogyAir_TempBooking" value="http://uat.travelogy.online/airlinehost/AirAPIService.svc/JSONService/Air_TempBooking"/>
    <add key="TravelogyAir_Ticketing" value="http://uat.travelogy.online/airlinehost/AirAPIService.svc/JSONService/Air_Ticketing"/>
    <add key="TravelogyAddPayment" value="http://uat.travelogy.online/tradehost/TradeAPIService.svc/JSONService/AddPayment"/>
    <add key="TravelogyAir_TicketCancellation" value="http://uat.travelogy.online/airlinehost/AirAPIService.svc/JSONService/Air_TicketCancellation"/>
    <add key="TravelogyGetInv-oice" value="http://uat.travelogy.online/airlinehost/AirAPIService.svc/JSONService/Air_Reprint"/>
     -->

    <!--Travelogy Live-->

    <add key="TravelogyUserId" value="flightsmojo"/>
    <add key="TravelogyPassword" value="1B9952F80270F4249F80E13132533C69C5228FE2"/>
    <add key="TravelogyIMEI_Number" value="2232323232323"/>
    <add key="TravelogySearchUrl" value="http://api.travelogy.online/Flight/AirAPIService.svc/JSONService/Air_Search"/>
    <add key="TravelogyRePriceUrl" value="http://api.travelogy.online/Flight/AirAPIService.svc/JSONService/Air_Reprice"/>
    <add key="TravelogyAir_TempBooking" value="http://api.travelogy.online/Flight/AirAPIService.svc/JSONService/Air_TempBooking"/>
    <add key="TravelogyAir_Ticketing" value="http://api.travelogy.online/Flight/AirAPIService.svc/JSONService/Air_Ticketing"/>
    <add key="TravelogyAddPayment" value="https://api.travelogy.online/trade/TradeAPIService.svc/JSONService/AddPayment"/>
    <add key="TravelogyAir_TicketCancellation" value="http://api.travelogy.online/Flight/AirAPIService.svc/JSONService/Air_TicketCancellation"/>
    <add key="TravelogyGetInvoice" value="http://api.travelogy.online/Flight/AirAPIService.svc/JSONService/Air_Reprint"/>
    <!--  -->

    <!--Travelopediaonline Live-->

    <add key="TravelopediaUserId" value="flightmojo"/>
    <add key="TravelopediaPassword" value="3C36C5E4DCE3883AFEC9ED6E5239F8BC3B013FE8"/>
    <add key="TravelopediaIMEI_Number" value="2232323232323"/>
    <add key="TravelopediaSearchUrl" value="http://api.travelopediaonline.com/Flight/AirAPIService.svc/JSONService/Air_Search"/>
    <add key="TravelopediaRePriceUrl" value="http://api.travelopediaonline.com/Flight/AirAPIService.svc/JSONService/Air_Reprice"/>
    <add key="TravelopediaAir_TempBooking" value="http://api.travelopediaonline.com/Flight/AirAPIService.svc/JSONService/Air_TempBooking"/>
    <add key="TravelopediaAir_Ticketing" value="http://api.travelopediaonline.com/Flight/AirAPIService.svc/JSONService/Air_Ticketing"/>
    <add key="TravelopediaAddPayment" value="https://api.travelopediaonline.com/trade/TradeAPIService.svc/JSONService/AddPayment"/>
    <add key="TravelopediaAir_TicketCancellation" value="http://api.travelopediaonline.com/Flight/AirAPIService.svc/JSONService/Air_TicketCancellation"/>
    <add key="TravelopediaGetInvoice" value="http://api.travelopediaonline.com/Flight/AirAPIService.svc/JSONService/Air_Reprint"/>
    <add key="TravelopediaGetSectors" value="https://api.travelopediaonline.com/flight/AirAPIService.svc/JSONService/Air_SectorAvailabilityPI"/>


    <!--Fare Boutique test-->
    <!--<add key="FB_Url" value="https://devapi.fareboutique.com/v1/api/"/>  
    <add key="FB_Ip" value="183.83.43.117"/>
    <add key="FB_TokenID" value="P6nq7HZhQNhg2eclgAQNsiTDvz4qUgaEZ-S4NZYlj6Oj"/>
    -->

    <!--Fare Boutique without AirIQ Live-->
    <!--<add key="FB_Url" value="https://api.fareboutique.com/v1/api/"/>
    <add key="FB_Ip" value="13.233.170.34"/>
    <add key="FB_TokenID" value="MOJO98ifwi8493hnkjce48nSDr4jnfMkrnfu4iKK8"/>
      -->

    <!--Fare Boutique With AirIQ Live-->
    <add key="FB_Url" value="https://api.fareboutique.com/v1/api/"/>
    <add key="FB_UrlSector" value="https://api.fareboutique.com/v1/api/"/>
    <add key="FB_Ip" value="13.233.170.34"/>
    <add key="FB_TokenID" value="295-fmojoMjhdnfen-jmkxwnnn38nckewJH4j"/>


    <!--Satkar Travel Test-->
    <!--<add key="ST_UrlToken" value="https://testapi.gapiinfotech.com/v1/service/oauth2/tokens"/>
    <add key="ST_UrlSerch" value="https://testapi.gapiinfotech.com/v1/service/search/flights"/>
    <add key="ST_UrlFareQuote" value="https://testapi.gapiinfotech.com/v1/service/search/fareQuote"/>
    <add key="ST_UrlBooking" value="https://testapi.gapiinfotech.com/v1/service/flightbooking/flight-booking"/>
    <add key="ST_UrlGetDetail" value="https://testapi.gapiinfotech.com/v1/service/search/"/>
    
    <add key="ST_Url" value="testv2.gapiinfotech.com"/>
    <add key="ST_UserName" value="1234567812"/>
    <add key="ST_PWD" value="India@123"/>
    <add key="ST_Auth" value="Basic MTM2NzkyNjk3NTQ6ZjA2MDg3MzgtNTI4MS00ZjE0LWEyNjYtM2M5N2JiOTE0NmNh"/>
    <add key="ST_tokenId" value="-783452001"/>-->



    <!--Satkar Travel Live-->
    <add key="ST_UrlToken" value="https://prod.gapiinfotech.com/v1/service/oauth2/tokens"/>
    <add key="ST_UrlSerch" value="https://prod.gapiinfotech.com/v1/service/search/flights"/>
    <add key="ST_UrlFareQuote" value="https://prod.gapiinfotech.com/v1/service/search/fareQuote"/>
    <add key="ST_UrlBooking" value="https://prod.gapiinfotech.com/v1/service/flightbooking/flight-booking"/>
    <add key="ST_UrlGetDetail" value="https://prod.gapiinfotech.com/v1/service/search/"/>

    <add key="ST_Url" value="mytripcart.com"/>
    <add key="ST_UserName" value="8920688789"/>
    <add key="ST_PWD" value="Singapore@123"/>
    <add key="ST_Auth" value="Basic MTM2NzkyNjk3NTQ6ZjA2MDg3MzgtNTI4MS00ZjE0LWEyNjYtM2M5N2JiOTE0NmNh"/>
    <!--<add key="ST_tokenId" value="-783452001"/>-->


    <!--AirIQ Test-->
    <!--<add key="AIQ_Url" value="https://omairiq.azurewebsites.net/"/>
    <add key="AIQ_ApiKey" value="NTMzNDUwMDpBSVJJUSBURVNUIEFQSToxODkxOTMwMDM1OTk2OlFRYjhLVjNFMW9UV05RY1NWL0Vtcm9UYXFKTSs5dkZvaHo0RzM4WWhwTDhsamNqR3pPN1dJSHhVQ2pCSzNRcW0="/>
    <add key="AIQ_UserName" value="9555202202"/>
    <add key="AIQ_PWD" value="9800830000@testapi"/>-->


    <!--AirIQ Live-->
    <add key="AIQ_Url" value="https://omairiq.azurewebsites.net/"/>
    <add key="AIQ_ApiKey" value="OTY3NTAwMDpGbGlnaHRzIE1vam8gQm9va2luZ3MgUHZ0IEx0ZDoxOTQyNjc0MDE2NzM0OjhSVkpaUGI4RVA3aFhUR3UwK2ZKQTgzZjBhN0d4M3JjSUxMcUhURkRERDQ9"/>
    <add key="AIQ_UserName" value="9811484933"/>
    <add key="AIQ_PWD" value="Mike@1232"/>

    <!--Ease2Fly Live-->
    <add key="E2F_Url" value="https://eflyapi.ease2fly.com/api/"/>
    <add key="E2F_ApiKey" value="1c9ec057-8289-450b-b024-63985102a0d9"/>
    <add key="E2F_UserName" value="agency@flightsmojo.in"/>
    <add key="E2F_PWD" value="Mike@1232"/>


    <!--GFS Test-->
    <!--<add key="GFS_Url" value="https://krn.nexusdmc.com/api/v1/flights/"/>
    <add key="GFS_GetUrl" value="https://krn.nexusdmc.com/api/v1/bookings/reference/"/>
    <add key="GFS_ApiKey" value="test_bcdab7a4c13d35d7fd688ed6a35613216dc483a73940c388"/>-->

    <!--GFS Live-->
    <add key="GFS_Url" value="https://api.nexusdmc.com/api/v1/flights/"/>
    <add key="GFS_GetUrl" value="https://api.nexusdmc.com/api/v1/bookings/reference/"/>
    <add key="GFS_ApiKey" value="live_bcdab7a4c13d35d71f0c572c1e9feff4dcb07bf3fbcc5924"/>


    <add key="isWriteLogSearch" value="true"/>
    <add key="isWriteLog" value="true"/>
    <add key="LogPrefix" value="Live"/>
    <add key="ServerID" value="Server1"/>
    <add key="ServerIP" value="103.160.243.202"/>
    <add key="isB2B" value="false"/>
    <add key="isMakeBooking" value="true"/>
    <add key="isUseCaching" value="false"/>
    <add key="isTboWhiteListed" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="con" connectionString="server=13.233.170.34; database=FlightsMojoIndia; user id=sa; password=F!ig##ht$m0j0Ne#P@$$##hjhh$; Max Pool Size=500; Connection Timeout=20;" providerName="Sql.Data.SqlClient;" />
    <add name="ConMetaRank" connectionString="server=database-2.cypvkugupkkw.ap-south-1.rds.amazonaws.com; database=MetaRanking; user id=admin; password=My$$sql##Server##654321432; Max Pool Size=500; Connection Timeout=20;" providerName="Sql.Data.SqlClient;" />
    <add name="ConnectionFareCaching" connectionString="server=database-2.cypvkugupkkw.ap-south-1.rds.amazonaws.com; database=DB_FareCachingIndia; user id=admin; password=My$$sql##Server##654321432; Max Pool Size=500; Connection Timeout=20;" providerName="Sql.Data.SqlClient;" />
    <add name="ConFlightsmojoindia_RDS" connectionString="server=database-2.cypvkugupkkw.ap-south-1.rds.amazonaws.com; database=Flightsmojoindia_RDS; user id=admin; password=My$$sql##Server##654321432; Max Pool Size=500; Connection Timeout=20;" providerName="Sql.Data.SqlClient;" />
    <add name="ConSearchHistoryAndDeal_RDS" connectionString="server=database-2.cypvkugupkkw.ap-south-1.rds.amazonaws.com; database=SearchHistoryAndDeal; user id=admin; password=My$$sql##Server##654321432; Max Pool Size=500; Connection Timeout=20;" providerName="Sql.Data.SqlClient;" />
  </connectionStrings>

  <!--For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
      The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>-->

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>